body {
    background: rgb(165, 170, 226);
    display: flex;
    justify-content: center;
}

form {
    background: rgb(39, 46, 125);
    color: #fff;
    width: 40%;
    border: 1px white solid;
    border-radius: 5px;
    margin-top: 3rem;
    padding: 2rem;
}

.select_box {
    display: flex;
    justify-content: center;
}

.select_box select {
    width: 35%;
    height: 35px;
    margin: 0 10px;
}